<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{.Title}}</title>
    <style>
      :root {

        --font-size-sm: calc(var(--font-size) * 0.9);
        --font-size: 14px;
        --font-size-lg: calc(var(--font-size) * 1.1);

        --space-0: 0;
        --space-1: 0.25rem;
        --space-1px: 1px;
        --space-1_5: calc(var(--space-1) * 1.5);
        --space-2: calc(var(--space-1) * 2);
        --space-2_5: calc(var(--space-1) * 2.5);
        --space-3: calc(var(--space-1) * 3);
        --space-3_5: calc(var(--space-1) * 3.5);
        --space-4: calc(var(--space-1) * 4);
        --space-5: calc(var(--space-1) * 5);
        --space-6: calc(var(--space-1) * 6);
        --space-7: calc(var(--space-1) * 7);
        --space-8: calc(var(--space-1) * 8);
        --space-9: calc(var(--space-1) * 9);
        --space-10: calc(var(--space-1) * 10);
        --space-11: calc(var(--space-1) * 11);
        --space-12: calc(var(--space-1) * 12);
        --space-14: calc(var(--space-1) * 14);
        --space-16: calc(var(--space-1) * 16);
        --space-20: calc(var(--space-1) * 20);
        --space-24: calc(var(--space-1) * 24);
        --space-28: calc(var(--space-1) * 28);
        --space-32: calc(var(--space-1) * 32);
        --space-36: calc(var(--space-1) * 36);
        --space-40: calc(var(--space-1) * 40);
        --space-44: calc(var(--space-1) * 44);
        --space-48: calc(var(--space-1) * 48);
        --space-52: calc(var(--space-1) * 52);
        --space-56: calc(var(--space-1) * 56);
        --space-60: calc(var(--space-1) * 60);
        --space-64: calc(var(--space-1) * 64);
        --space-72: calc(var(--space-1) * 72);
        --space-80: calc(var(--space-1) * 80);
        --space-96: calc(var(--space-1) * 96);

        --color-gray-h: 200;
        --color-gray-s: 8%;
        --color-gray-l: 50%;

        --color-primary-h: 210;
        --color-primary-s: 90%;
        --color-primary-l: 50%;

        --color-secondary-h: 280;
        --color-secondary-s: 80%;
        --color-secondary-l: 50%;

        --color-gray-100: hsl(var(--color-gray-h), var(--color-gray-s), calc(var(--color-gray-l) * 0.20));
        --color-gray-200: hsl(var(--color-gray-h), var(--color-gray-s), calc(var(--color-gray-l) * 0.40));
        --color-gray-300: hsl(var(--color-gray-h), var(--color-gray-s), calc(var(--color-gray-l) * 0.60));
        --color-gray-400: hsl(var(--color-gray-h), var(--color-gray-s), calc(var(--color-gray-l) * 0.80));
        --color-gray-500: hsl(var(--color-gray-h), var(--color-gray-s), calc(var(--color-gray-l) * 1.00));
        --color-gray-600: hsl(var(--color-gray-h), var(--color-gray-s), calc(var(--color-gray-l) * 1.20));
        --color-gray-700: hsl(var(--color-gray-h), var(--color-gray-s), calc(var(--color-gray-l) * 1.40));
        --color-gray-800: hsl(var(--color-gray-h), var(--color-gray-s), calc(var(--color-gray-l) * 1.60));
        --color-gray-900: hsl(var(--color-gray-h), var(--color-gray-s), calc(var(--color-gray-l) * 1.80));

        --color-primary-100: hsl(var(--color-primary-h), var(--color-primary-s), calc(var(--color-primary-l) * 0.20));
        --color-primary-200: hsl(var(--color-primary-h), var(--color-primary-s), calc(var(--color-primary-l) * 0.40));
        --color-primary-300: hsl(var(--color-primary-h), var(--color-primary-s), calc(var(--color-primary-l) * 0.60));
        --color-primary-400: hsl(var(--color-primary-h), var(--color-primary-s), calc(var(--color-primary-l) * 0.80));
        --color-primary-500: hsl(var(--color-primary-h), var(--color-primary-s), calc(var(--color-primary-l) * 1.00));
        --color-primary-600: hsl(var(--color-primary-h), var(--color-primary-s), calc(var(--color-primary-l) * 1.20));
        --color-primary-700: hsl(var(--color-primary-h), var(--color-primary-s), calc(var(--color-primary-l) * 1.40));
        --color-primary-800: hsl(var(--color-primary-h), var(--color-primary-s), calc(var(--color-primary-l) * 1.60));
        --color-primary-900: hsl(var(--color-primary-h), var(--color-primary-s), calc(var(--color-primary-l) * 1.80));

        --color-secondary-100: hsl(var(--color-secondary-h), var(--color-secondary-s), calc(var(--color-secondary-l) * 0.20));
        --color-secondary-200: hsl(var(--color-secondary-h), var(--color-secondary-s), calc(var(--color-secondary-l) * 0.40));
        --color-secondary-300: hsl(var(--color-secondary-h), var(--color-secondary-s), calc(var(--color-secondary-l) * 0.60));
        --color-secondary-400: hsl(var(--color-secondary-h), var(--color-secondary-s), calc(var(--color-secondary-l) * 0.80));
        --color-secondary-500: hsl(var(--color-secondary-h), var(--color-secondary-s), calc(var(--color-secondary-l) * 1.00));
        --color-secondary-600: hsl(var(--color-secondary-h), var(--color-secondary-s), calc(var(--color-secondary-l) * 1.20));
        --color-secondary-700: hsl(var(--color-secondary-h), var(--color-secondary-s), calc(var(--color-secondary-l) * 1.40));
        --color-secondary-800: hsl(var(--color-secondary-h), var(--color-secondary-s), calc(var(--color-secondary-l) * 1.60));
        --color-secondary-900: hsl(var(--color-secondary-h), var(--color-secondary-s), calc(var(--color-secondary-l) * 1.80));

        --color-bg: var(--color-gray-100);
        --color-text: var(--color-gray-800);
      }

      [data-theme="light"] {
        --color-bg: #FFFFFF;
        --color-text: var(--color-gray-200);
      }

      html {
        font-family: sans-serif;
      }

      body {
        background-color: var(--color-bg);
        color: var(--color-text);
      }

      * {
        padding: 0;
        margin: 0;
        border: 0;
        color: var(--color-text);
      }

      body {
        padding: var(--space-2) var(--space-8);
        max-width: 40rem;
        margin: 0 auto;
      }

      .bg-primary-500 {
        background-color: var(--color-primary-500);
      }

      .hover\:bg-primary-600:hover {
        background-color: var(--color-primary-600);
      }

      .text-left {
        text-align: left;
      }

      .p-2 {
        padding: var(--space-2);
      }

      .px-2 {
        padding-left: var(--space-2);
        padding-right: var(--space-2);
      }

      .mx-1px {
        margin-left: var(--space-1px);
        margin-right: var(--space-1px);
      }

      .my-2 {
        margin-top: var(--space-2);
        margin-bottom: var(--space-2);
      }

      .my-4 {
        margin-top: var(--space-4);
        margin-bottom: var(--space-4);
      }

      .w-full {
        width: 100%;
      }

      .border {
        border: 1px solid var(--color-gray-500);
      }

      .rounded {
        border-radius: var(--space-1);
      }

      .inline-block {
        display: inline-block;
      }

      .button {
        color: var(--color-primary-900);
        font-weight: 600;
        padding: var(--space-2) var(--space-3);
        border-radius: var(--space-1);
        background-color: var(--color-primary-500);
        cursor: pointer;
      }

      .button:hover, .button:focus-visible {
        background-color: var(--color-primary-600);
      }

      .button-sm {
        padding: var(--space-1_5) var(--space-2_5);
        font-size: var(--font-size-sm);
      }

      .button-lg {
        padding: var(--space-2_5) var(--space-3_5);
        font-size: var(--font-size-lg);
      }
    </style>
    {{/*    <script src="//{{.Host}}/static/tracker.js" data-website="{{.WebsiteID}}"></script>*/}}
</head>
<body data-theme="dark">
<h1 class="my-4">{{.Title}}</h1>
<p class="my-4">This is a test page</p>

<div class="my-2">
    <div class="p-2 inline-block" style="background-color:var(--color-gray-100)"></div>
    <div class="p-2 inline-block" style="background-color:var(--color-gray-200)"></div>
    <div class="p-2 inline-block" style="background-color:var(--color-gray-300)"></div>
    <div class="p-2 inline-block" style="background-color:var(--color-gray-400)"></div>
    <div class="p-2 inline-block" style="background-color:var(--color-gray-500)"></div>
    <div class="p-2 inline-block" style="background-color:var(--color-gray-600)"></div>
    <div class="p-2 inline-block" style="background-color:var(--color-gray-700)"></div>
    <div class="p-2 inline-block" style="background-color:var(--color-gray-800)"></div>
    <div class="p-2 inline-block" style="background-color:var(--color-gray-900)"></div>
</div>

<div class="my-2">
    <div class="p-2 inline-block" style="background-color:var(--color-primary-100)"></div>
    <div class="p-2 inline-block" style="background-color:var(--color-primary-200)"></div>
    <div class="p-2 inline-block" style="background-color:var(--color-primary-300)"></div>
    <div class="p-2 inline-block" style="background-color:var(--color-primary-400)"></div>
    <div class="p-2 inline-block" style="background-color:var(--color-primary-500)"></div>
    <div class="p-2 inline-block" style="background-color:var(--color-primary-600)"></div>
    <div class="p-2 inline-block" style="background-color:var(--color-primary-700)"></div>
    <div class="p-2 inline-block" style="background-color:var(--color-primary-800)"></div>
    <div class="p-2 inline-block" style="background-color:var(--color-primary-900)"></div>
</div>

<div class="my-2">
    <div class="p-2 inline-block" style="background-color:var(--color-secondary-100)"></div>
    <div class="p-2 inline-block" style="background-color:var(--color-secondary-200)"></div>
    <div class="p-2 inline-block" style="background-color:var(--color-secondary-300)"></div>
    <div class="p-2 inline-block" style="background-color:var(--color-secondary-400)"></div>
    <div class="p-2 inline-block" style="background-color:var(--color-secondary-500)"></div>
    <div class="p-2 inline-block" style="background-color:var(--color-secondary-600)"></div>
    <div class="p-2 inline-block" style="background-color:var(--color-secondary-700)"></div>
    <div class="p-2 inline-block" style="background-color:var(--color-secondary-800)"></div>
    <div class="p-2 inline-block" style="background-color:var(--color-secondary-900)"></div>
</div>

<div class="my-4">
    <button class="button button-sm">Button</button>
    <button class="button">Button</button>
    <button class="button button-lg">Button</button>
</div>

<div style="width:100%;display:flex;flex-direction:row;height:100px;justify-content:flex-end;align-items:flex-end;" class="my-4">
    {{range .Buckets}}
        <div style="min-height:var(--space-1px);height:{{.Count}}px;flex-grow:1" class="w-full mx-1px bg-primary-500 hover:bg-primary-600"></div>
    {{end}}
</div>

<table class="border">
    <thead>
    <tr>
        <th class="text-left p-2">Path</th>
        <th class="text-left p-2">Created</th>
    </tr>
    </thead>
    <tbody>
    {{range .Events}}
        <tr>
            <td class="text-left p-2"><strong>{{.Path}}</strong></td>
            <td class="text-left p-2"><code>{{.CreatedAt}}</code></td>
        </tr>
    {{end}}
    </tbody>
</table>
</body>
</html>